<div class="container text-center text-white pt-5">
    <h1 class="h1">Proyectos</h1>
    <div class="row bg-aqua py-5 m-5 round-corners">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="btn-awic round-corners">
                <%= link_to proyectos_create_path do %>
                    <%= image_tag("project-management.png", :alt => "add-project", :width => '30%')%>
                    <p>Agregar<br>Proyecto</p>
                <% end %>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="btn-awic round-corners">
                <%= link_to proyectos_search_path do %>
                    <%= image_tag("buscar_p.png", :alt => "search-project", :width => '30%')%>
                    <p>Buscar<br>Proyecto</p>
                <% end %>
            </div>
        </div>
    </div>
</div>