<div class="container">
	<div class="row justify-content-md-center align-items-center">
        <div class="col-md-10 align-item-center">
		<div class="card text-center">
			<div class="card-header">
				<h3>Buscar Usuario</h3>
			</div>
            <div class="card-body bg-aqua justify-content-center">
            <!-- Protección CSRF -->
            <%= token_tag nil %>
                <form method="GET" action="update" accept-charset="UTF-8" role="form" id="buscarusuario" name="buscarusuario" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-md-6 input-group form-group">
					        <input type="number" class="form-control" placeholder="ID Usuario" id="id" name="id" required>
					    </div>
                        <div class=" form-group d-inline-flex  ">
                            <button type="submit" class="btn btn-light">Buscar</button>
					    </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
    </div>
</div>