/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import "~bootstrap/scss/bootstrap";*/

 :root{
    --aqua: #00969e;
    --aqua-hover: #017e85;
}

.bg-aqua {
    background-color: var(--aqua) !important;
}

.bg-image-main {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grey-alt {
    background-color: #1f2c30;
}

.full-size {
    height: 96vh;  
}

.btn-aqua {
    border-color:  var(--aqua) !important;
    color: #ffffff !important;
}

.btn-aqua:hover {
    border-color: none;
    background-color: var(--aqua-hover);
}

.btn-awic {
    color: #000000;
    background-color: white;
    font-weight: bold;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
}

.btn-awic a {
    color: #000000;
}

.btn-awic a:hover {
    text-decoration: none;
    color: var(--aqua);
}

.text-white {
    color: #FFFFFF;
}

.round-corners{
    border-radius: 15px !important;
}

.modal-header {
    background-color: var(--aqua) !important;
}

.modal-footer {
    background-color: var(--aqua) !important;
    
}

.modal-header {
    color : white !important;
}

.btn-default {
    background-color: white !important;
}

.btn-delete {
    background-image: url('delete.png');
    background-color: transparent;
    background-size: contain;
    border: none;
    width: 21px;
    height: 25px;
    cursor: pointer;
    color: transparent;
}